<template>
  <div id="app">
    <component :is="layout">
      <router-view/>
    </component>
  </div>
</template>

<script>
import AuthLayout from "@/layouts/AuthLayout";
import AdminLayout from "@/layouts/AdminLayout";

export default {
  computed: {
    layout () {
      return this.$route.meta.layout
    }
  },
  components: {
    AuthLayout,
    AdminLayout
  }
}
</script>

<style lang="scss">
@import "assets/css/admin.css";
</style>
