<template>
    <header class="main-nav">
        <div class="sidebar-user text-center">
            <img class="img-90 rounded-circle" src="@/assets/css/admin/img/1.png" alt="">
            <div class="badge-bottom"><span class="badge badge-primary">{{ user.login }}</span></div>
            <router-link to="/admin">
                <h6 class="mt-3 f-14 f-w-600">{{ user.name }}</h6>
            </router-link>
        </div>
        <nav>
            <div class="main-navbar">
                <div class="left-arrow" id="left-arrow">
                    <i data-feather="arrow-left"></i>
                </div>
                <div id="mainnav">
                    <ul class="nav-menu custom-scrollbar">
                        <li class="back-btn">
                            <div class="mobile-back text-end">
                                <span>Back</span>
                                <i class="fa fa-angle-right ps-2" aria-hidden="true"></i>
                            </div>
                        </li>

                        <li class="dropdown" v-for="link in links">
                            <a class="nav-link menu-title" :href="link.href">
                                <i :data-feather="link.icon"></i><span>{{ link.name }}</span>
                            </a>
                            <ul v-if="link.subLink" class="nav-submenu menu-content">
                                <li v-for="sublink in link.subLink">
                                    <router-link :to="sublink.href">{{ sublink.name }}</router-link>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</template>

<script>
export default {
    name: "Header",
    props: {
        user: {
            type: Object
        }
    },
    data: () => ({
        links: [
            {
                name: "Пользователи",
                icon: "users",
                href: "javascript:void(0)",
                subLink:
                    [
                        {
                            name: "Список пользователей",
                            href: "/admin/user"
                        },
                        {
                            name: "Создание пользователя",
                            href: "/admin/user/create"
                        },
                    ]
            },
            {
                name: "Категория",
                icon: "home",
                href: "javascript:void(0)",
                subLink:
                    [
                        {
                            name: "Список категории",
                            href: "/admin/categories"
                        },
                        {
                            name: "Создание категории",
                            href: "/admin/categories/create"
                        },
                    ]
            },
            {
                name: "Посты",
                icon: "home",
                href: "javascript:void(0)",
                subLink:
                    [
                        {
                            name: "Список пользователей",
                            href: "/admin/article"
                        },
                        {
                            name: "Создание поста",
                            href: "/admin/article/create"
                        },
                    ]
            },
        ]
    })
}
</script>

<style scoped>
.main-nav {
    top: 76px !important;
}
.nav-submenu.menu-content {
    display: block !important;
}
</style>
