<template>
  <div>
    <form class="theme-form login-form">
      <h4 class="mb-3">Авторизация</h4>
      <div class="form-group">
        <label>Login</label>
        <div class="input-group">
          <span class="input-group-text"><i class="icon-email"></i></span>
          <input class="form-control" type="text">
        </div>
      </div>
      <div class="form-group">
        <label>Пароль</label>
        <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
          <input class="form-control" type="password">
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Вход</button>
      </div>
      <p>У вас нету аккаунта? <a href="/register">Рагистрирусйтесь</a></p>
    </form>
  </div>
</template>

<script>
export default {
  name: 'AuthLogin'
}
</script>

<style scoped>

</style>
