<template>
  <div>
    <form class="theme-form login-form">
      <h4 class="mb-3">Регистрация</h4>
      <div class="form-group">
        <label>Ваше имя</label>
        <div class="input-group">
          <span class="input-group-text"><i class="icon-user"></i></span>
          <input
            type="text"
            class="form-control"
            v-model.trim="form.name"
          >
        </div>
      </div>
      <div class="form-group">
        <label>Ваше фамилия</label>
        <div class="input-group">
          <span class="input-group-text"><i class="icon-user"></i></span>
          <input
            type="text"
            class="form-control"
            v-model.trim="form.surname"
          >   <!-- TODO: is-invalid -->
        </div>
      </div>
      <div class="form-group">
        <label>Login</label>
        <div class="input-group">
          <span class="input-group-text"><i class="icon-user"></i></span>
          <input
            type="text"
            class="form-control"
            v-model.trim="form.login"
          >
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <div class="input-group">
          <span class="input-group-text"><i class="icon-email"></i></span>
          <input
            type="text"
            class="form-control"
            v-model.trim="form.email"
          >
          <div class="invalid-feedback">message</div>
        </div>
      </div>
      <div class="form-group">
        <label>Пароль</label>
        <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
          <input
            type="password"
            class="form-control"
            v-model.trim="form.password"
          >
          <div class="invalid-feedback">'Message'</div>
          <div class="show-hide"><span class="show"></span></div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" @click.prevent="register">Зарегистрировать</button>
      </div>
    </form>
<!--    <div class="modal fade show" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenter" style="display: block; padding-right: 15px;" aria-modal="true" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Ошибка</h5>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" data-bs-original-title="" title=""></button>
          </div>
          <div class="modal-body">
            <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
          </div>
        </div>
      </div>
    </div>-->
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios"
import {required} from "vuelidate/lib/validators"

export default {
  name: 'AuthRegister',
  data: () => ({
    form: {
      name: "",
      surname: "",
      login: "",
      email: "",
      password: ""
    },
    errors: []
  }),
  validations: {
    form: {
      name: {required}
      /*    surname: {required},
          login: {required},
          email: {required, email},
          password: {required, minLength: minLength(6)}*/
    }
  },
  methods: {
    register () {
      axios.post(process.env.VUE_APP_API_URL + "user/register", {
        name: this.form.name,
        surname: this.form.surname,
        login: this.form.login,
        email: this.form.email,
        password: this.form.password
      }).then(response => {
        this.$router.push({
          name: 'AuthLogin',
          params: { fix: { type: 1, required: true } }
        })
      }).catch(errors => {
        Object.entries(errors.response.data.errors).forEach(([key, val]) => {
          this.errors.push(val[0])
        });
      })
    }
  }
}
</script>

<style scoped>

</style>
