<template>
    <div>
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Админ панель</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Главная</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid general-widget">
            <div class="row">
                <div class="col-sm-6 col-xl-3 col-lg-6" v-for="item in menu">
                    <div class="card o-hidden border-0">
                        <div :class="item.class">
                            <div class="media static-top-widget">
                                <div class="align-self-center text-center"><i data-feather="user-plus"></i></div>
                                <div class="media-body"><span class="m-0">{{ item.name }}</span>
                                    <h4 class="mb-0 counter">{{ item.count }}</h4><i class="icon-bg" :data-feather="item.icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    name: 'AdminIndex',
    data: () => ({
        menu: {
            users: {
                name: "Количество пользователей",
                count: 0,
                icon: "user-plus",
                class: "b-r-4 card-body bg-secondary"
            },
            categories: {
                name: "Количество категории",
                count: 0,
                icon: "database",
                class: "b-r-4 card-body bg-primary"
            },
            articles: {
                name: "Количество постов",
                count: 0,
                icon: "shopping-bag",
                class: "b-r-4 card-body bg-secondary"
            },
            messages: {
                name: "Messages",
                count: 0,
                icon: "message-circle",
                class: "b-r-4 card-body bg-primary"
            }
        }
    }),
    mounted() {
        this.fetchData()
    },
    computed: {
        ...mapGetters('user', [
            'user'
        ])
    },
    methods: {
        fetchData () {
            this.menu.categories.count = Object.keys(this.user.categories).length
            this.menu.users.count = Object.keys(this.user.categories).length

            axios.get('api/user/list').then(response => {
                this.menu.users.count = Object.keys(response.data).length
            })
        }
    }
}
</script>

<style scoped>

</style>
