<template>
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <div class="page-main-header">
            <div class="main-header-right row m-0">
                <div class="main-header-left">
                    <div class="logo-wrapper">
                        <router-link to="/admin">
                            <img class="img-fluid" src="@/assets/images/logo.png" alt="">
                        </router-link>
                    </div>
                </div>
                <div class="left-menu-header col">
                    <ul>
                        <li>
                            <form class="form-inline search-form">
                                <div class="search-bg"><i class="fa fa-search"></i>
                                    <input class="form-control-plaintext" placeholder="Поиск ...">
                                </div>
                            </form>
                            <span class="d-sm-none mobile-search search-bg"><i class="fa fa-search"></i></span>
                        </li>
                    </ul>
                </div>
                <div class="nav-right col pull-right right-menu p-0">
                    <ul class="nav-menus">
                        <li class="onhover-dropdown p-0">
                            <form action='' method="POST">
                                <button class="btn btn-primary-light" @click.prevent="userLogout">
                                    <i data-feather="log-out"></i>
                                    Выйти
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="d-lg-none mobile-toggle pull-right w-auto"><i data-feather="more-horizontal"></i></div>
            </div>
        </div>
        <div class="page-body-wrapper">
            <Header :user="user"/>
            <div class="page-body">
                <div class="container-fluid dashboard-default-sec">
                    <div class="row">
                        <router-view/>
                    </div>
                </div>
            </div>
            <Footer/>
        </div>
    </div>
</template>

<script>
import Header from "@/components/admin/Header";
import Footer from "@/components/admin/Footer";
import {mapGetters, mapActions} from "vuex";

export default {
    name: 'AdminLayout',
    components: {
        Header,
        Footer
    },
    mounted() {
        if (Object.keys(this.user).length === 0) {
            this.$router.push('/login')
        }
    },
    computed: {
        ...mapGetters('user', [
            'user',
            'token'
        ]),
    },
    methods: {
        ...mapActions('user', [
            'logout',
            'clear'
        ]),
        userLogout () {
            this.logout()
        }
    },
}
</script>

<style scoped>

</style>
