<template>
    <div>
        <form class="theme-form login-form">
            <h4 class="mb-3">Авторизация</h4>
            <div class="form-group">
                <label>Login</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="icon-email"></i></span>
                    <input class="form-control"
                           :class="{'is-invalid': ($v.form.login.$dirty && !$v.form.login.required)}"
                           v-model="form.login"
                           type="text">
                    <div class="invalid-feedback" v-if="$v.form.login.$dirty && !$v.form.login.required">The login
                        attribute field is required.
                    </div>
                    <div class="invalid-feedback" v-if="errors.login">{{ errors.login }}</div>
                </div>
            </div>
            <div class="form-group">
                <label>Пароль</label>
                <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
                    <input class="form-control"
                           :class="{'is-invalid': ($v.form.password.$dirty && !$v.form.password.required)}"
                           v-model="form.password"
                           type="password">
                    <div class="invalid-feedback" v-if="$v.form.password.$dirty && !$v.form.password.required">The
                        password attribute field is required.
                    </div>
                    <div class="invalid-feedback" v-if="errors.password">{{ errors.password }}</div>
                </div>
            </div>
            <div class="invalid-feedback" v-if="errors.message">{{ errors.message }}</div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" @click.prevent="userSignIn">Вход</button>
            </div>
            <p>У вас нету аккаунта?
                <router-link to="/register">Рагистрирусйтесь</router-link>
            </p>
        </form>
    </div>
</template>

<script>
import {required} from "vuelidate/lib/validators";
import {mapGetters, mapActions} from "vuex";

export default {
    name: 'Login',
    data: () => ({
        form: {
            login: "",
            password: ""
        }
    }),
    validations: {
        form: {
            login: {required},
            password: {required}
        }
    },
    mounted() {
        if (Object.keys(this.user).length > 0) {
            this.$router.push('/admin')
        }
    },
    computed: {
        ...mapGetters('user', [
            'user',
            'errors'
        ])
    },
    methods: {
        ...mapActions('user', [
            'login'
        ]),
        userSignIn() {
            if (this.$v.$invalid) {
                this.$v.$touch()
                return
            }
            this.login(this.form)
        }
    }
}
</script>

<style scoped>
.invalid-feedback {
    display: block;
}
</style>
