<template>
    <div>
        <form class="theme-form login-form">
            <h4 class="mb-3">Регистрация</h4>
            <div class="form-group">
                <label>Ваше имя</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                    <input
                        type="text"
                        class="form-control"
                        :class="{'is-invalid': ($v.form.name.$dirty && !$v.form.name.required)}"
                        v-model.trim="form.name"
                    >
                    <div class="invalid-feedback">The name attribute field is required.</div>
                </div>
            </div>
            <div class="form-group">
                <label>Ваше фамилия</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                    <input
                        type="text"
                        class="form-control"
                        :class="{'is-invalid': ($v.form.surname.$dirty && !$v.form.surname.required)}"
                        v-model.trim="form.surname"
                    >
                    <div class="invalid-feedback">The surname attribute field is required.</div>
                </div>
            </div>
            <div class="form-group">
                <label>Login</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                    <input
                        type="text"
                        class="form-control"
                        :class="{'is-invalid': ($v.form.login.$dirty && !$v.form.login.required) || (errors.login)}"
                        v-model.trim="form.login"
                    >
                    <div class="invalid-feedback" v-if="$v.form.login.$dirty && !$v.form.login.required">The login
                        attribute field is required.
                    </div>
                    <div class="invalid-feedback" v-if="errors.login">{{ errors.login }}</div>
                </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="icon-email"></i></span>
                    <input
                        type="text"
                        class="form-control"
                        :class="{'is-invalid': ($v.form.email.$dirty && !$v.form.email.required || $v.form.email.$dirty && !$v.form.email.email) || (errors.email)}"
                        v-model.trim="form.email"
                    >
                    <div class="invalid-feedback" v-if="$v.form.email.$dirty && !$v.form.email.required">The email
                        attribute field is required.
                    </div>
                    <div class="invalid-feedback" v-if="$v.form.email.$dirty && !$v.form.email.email">The email
                        attribute must be a valid email address.
                    </div>
                    <div class="invalid-feedback" v-if="errors.email">{{ errors.email }}</div>
                </div>
            </div>
            <div class="form-group">
                <label>Пароль</label>
                <div class="input-group"><span class="input-group-text"><i class="icon-lock"></i></span>
                    <input
                        type="password"
                        class="form-control"
                        :class="{'is-invalid': ($v.form.password.$dirty && !$v.form.password.required || $v.form.password.$dirty && !$v.form.password.minLength)}"
                        v-model.trim="form.password"
                    >
                    <div class="invalid-feedback" v-if="$v.form.password.$dirty && !$v.form.password.required">The
                        password attribute field is required.
                    </div>
                    <div class="invalid-feedback" v-if="$v.form.password.$dirty && !$v.form.password.minLength">The
                        password attribute must be between 6 min.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" @click.prevent="userRegister">Зарегистрировать</button>
            </div>
            <p>У вас есть аккаунта?
                <router-link to="/login">Авторизуйтесь</router-link>
            </p>
        </form>
    </div>
</template>

<script>
import {required, email, minLength} from "vuelidate/lib/validators";
import {mapGetters, mapActions} from "vuex";

export default {
    name: 'Register',
    data: () => ({
        form: {
            name: "",
            surname: "",
            login: "",
            email: "",
            password: ""
        }
    }),
    validations: {
        form: {
            name: {required},
            surname: {required},
            login: {required},
            email: {required, email},
            password: {required, minLength: minLength(6)}
        }
    },
    mounted() {
        if (Object.keys(this.user).length > 0) {
            this.$router.push('/admin')
        }
    },
    computed: {
        ...mapGetters('user', [
            'user',
            'errors'
        ])
    },
    methods: {
        ...mapActions('user', [
            'register'
        ]),
        userRegister() {
            if (this.$v.$invalid) {
                this.$v.$touch()
                return
            }
            this.register(this.form)
        }
    }
}
</script>

<style scoped>

</style>
