<template>
    <div>
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Создание категории</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><router-link to="/admin">Главная</router-link></li>
                            <li class="breadcrumb-item"><router-link to="/admin/category">Список категории</router-link></li>
                            <li class="breadcrumb-item">Создание категории</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <form class="card">
                <div class="card-body">
                    <div class="theme-form">
                        <div class="mb-3">
                            <label class="col-form-label">Название</label>
                            <input class="form-control"
                                   :class="{'is-invalid': ($v.form.name.$dirty && !$v.form.name.required)}"
                                   v-model="form.name"
                                   type="text">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Описание</label>
                            <textarea class="form-control"
                                      rows="3"
                                      :class="{'is-invalid': ($v.form.description.$dirty && !$v.form.description.required)}"
                                      v-model="form.description">
                            </textarea>
                        </div>
                        <div class="mb-3">
                            <input class="form-control"
                                   :class="{'is-invalid': ($v.form.picture.$dirty && !$v.form.picture.required)}"
                                   type="file"
                                   @change="onPictureSelect"
                                   >
                        </div>
                        <div class="mb-3">
                            <label class="d-block" for="chk-ani">
                                <input class="checkbox_animated" id="chk-ani" type="checkbox" v-model="form.isActive">Активность
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" @click.prevent="store">Добавить</button>
                    <router-link to="/admin/categories" class="btn btn-secondary">Отмена</router-link>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import {required} from "vuelidate/lib/validators"

export default {
    name: "Create",
    data: () => ({
        form: {
            name: "",
            description: "",
            picture: null,
            isActive: false,
        },
        errors: {}
    }),
    validations: {
        form: {
            name: {required},
            description: {required},
            picture: {required}
        }
    },
    methods: {
        onPictureSelect(event) {
            this.form.picture = event.target.files[0]
        },
        store() {
            if (this.$v.$invalid) {
                this.$v.$touch()
                return
            }
            axios.post('api/categories', {
                name: this.form.name,
                description: this.form.description,
                picture: this.form.picture,
                is_active: this.form.isActive ? 1 : 0
            }, {
                headers: {
                    "Content-Type": "multipart/form-data"
                }
            }).then(() => {
                this.$router.push({ path: '/admin/categories' })
            }).catch(errors => {
                console.log(errors.response)
            })
        }
    },
}
</script>

<style scoped>
.btn.btn-primary {
    margin-right: 15px;
}
</style>
