<template>
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <h3>Список категории</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <router-link to="/admin">Главная</router-link>
                        </li>
                        <li class="breadcrumb-item">Список категории</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9 card">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Название</th>
                                <th scope="col">Активность</th>
                                <th scope="col">Автор</th>
                                <th scope="col">Действие</th>
                                <th scope="col">Действие</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(category, key) in categories">
                                <th scope="row">{{ key + 1 }}</th>
                                <td>{{ category.name }}</td>
                                <td>{{ (category.is_active) ? 'true' : 'false' }}</td>
                                <td>{{ category.user.name }}</td>
                                <td><router-link :to="'/admin/categories/'+category.id" class="btn btn-primary">Редактировать</router-link></td>
                                <td>
                                    <button class="btn btn-danger" @click="destroyCategory(category.id)">Удалить</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters, mapActions} from "vuex";

export default {
    name: "Index",
    computed: {
        ...mapGetters('category', [
            'categories'
        ])
    },
    methods: {
        ...mapActions('category', [
            'getCategories',
            'destroy'
        ]),
        destroyCategory(id) {
            this.destroy(id)
        }
    },
    mounted() {
        this.getCategories()
    }
}
</script>

<style scoped>

</style>
