<template>
    <div>
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Создание категории</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><router-link to="/admin">Главная</router-link></li>
                            <li class="breadcrumb-item"><router-link to="/admin/category">Список категории</router-link></li>
                            <li class="breadcrumb-item">Создание категории</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <form class="card">
                <div class="card-body">
                    <div class="theme-form">
                        <div class="mb-3">
                            <label class="col-form-label">Название</label>
                            <input class="form-control"
                                   :class="{'is-invalid': ($v.category.name.$dirty && !$v.category.name.required)}"
                                   v-model="category.name"
                                   type="text">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Описание</label>
                            <textarea class="form-control"
                                      rows="3"
                                      :class="{'is-invalid': ($v.category.description.$dirty && !$v.category.description.required)}"
                                      v-model="category.description">
                            </textarea>
                        </div>
                        <div class="mb-3">
                            <input class="form-control"
                                   :class="{'is-invalid': ($v.category.picture.$dirty && !$v.category.picture.required)}"
                                   type="file"
                                   @change="onPictureSelect"
                                   >
                        </div>
                        <div class="mb-3">
                            <label class="d-block">
                                <input class="checkbox_animated" v-if="category.isActive" type="checkbox" v-model="category.isActive">
                                <input class="checkbox_animated"  v-else type="checkbox" v-model="category.isActive">Активность
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">Добавить</button>
                    <router-link to="/admin/categories" class="btn btn-secondary">Отмена</router-link>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import {required} from "vuelidate/lib/validators"

export default {
    name: "Update",
    data: () => ({
        errors: {},
        category: {
            name: "",
            description: "",
            picture: null,
            isActive: false,
        }
    }),
    validations: {
        category: {
            name: {required},
            description: {required},
            picture: {required}
        }
    },
    methods: {
        onPictureSelect(event) {
            this.category.picture = event.target.files[0]
        },
        fetchCategory(id) {
            axios.get('api/categories/' + id).then(response => {
                this.category.name = response.data.name
                this.category.description = response.data.description
                this.category.picture = response.data.picture
                this.category.isActive = response.data.is_active
            })
        }
    },
    mounted() {
        this.fetchCategory(this.$route.params.id)
    }
}
</script>

<style scoped>
.btn.btn-primary {
    margin-right: 15px;
}
</style>
